In [169]:
import pandas as pd
import numpy as np

In [170]:
#ALL PRODUCTION CODE GOES HERE
#Test code below is to be used to build the function in question.
def call_game_logs (key_list : list, year : int) -> dict:
    """
    Accepts a list of keys corresponding to NBA players on basketballreference and returns dict of the form: 
    {player_key : player_game_log,...} where player_key is a string and player_game_log is a dataframe. 
    """
    # Initializes gamelog_dfs dict
    gamelog_dfs = {}
    
    # Populates gamelog_dfs with the given pairs
    for key in key_list:
        for df in pd.read_html(f'https://www.basketball-reference.com/players/g/{key}/gamelog/{year}'):
            if df.columns[0] == "Rk":
                gamelog_dfs[player_dict[key]] = df
    return gamelog_dfs

def standardize_game_log(func_df : pd.DataFrame) -> pd.DataFrame:
    """
    Accepts gamelog data from basketballreference.com and converts 
    it into accurately typed, usable data for pandas analysis.
    """
    # Split Unnamed:7 into "win_bool" and "margin_of_victory" columns.
    # Rename "+/-" to "plus_minus"
    # Replaces functionally null values with np.nan

    func_df = pd.concat(
        [func_df.rename(columns={'+/-' : 'plus_minus', 'Unnamed: 5' : 'home_bool'}).drop(labels='Unnamed: 7', axis=1), 
         func_df['Unnamed: 7'].str.split(' ', expand=True).rename(columns={0 : "win_bool", 1 : "margin_of_victory"})], axis=1
    ).replace(to_replace='Inactive', value=np.nan)



    # Remove rows reiterating the column name; ought to be 20th, 41st, and 62nd rows.
    # Convert L,W,@ to False, True, False
    func_df = func_df[func_df.Rk != 'Rk'].replace(to_replace=['L','W','@'], value=[False, True, False])

    # Replaces NaN values in the home_bool column with True values, indicating that the row represents a home game.
    func_df.home_bool = func_df.home_bool.replace(to_replace=np.nan, value=True)
    
    # Removes symbols that would prevent dtype conversion in MoV and +/- columns
    func_df.margin_of_victory = func_df.margin_of_victory.str.translate({ord(i): None for i in '()+'})
    func_df.plus_minus = func_df.plus_minus.str.translate({ord(i): None for i in '+'})
    
    #Sets rank as the index of the df (that is its purpose)
    func_df.set_index('Rk')
    

    # Adds a float-variant of the column 'MP'. This allows for easier operations than the actual 'MP' column,
    # which is otherwise in timedelta64
    func_df['MP_floats'] = \
    func_df.MP.str.split(':', expand=True).astype(float)[0] + func_df.MP.str.split(':', expand=True).astype(float)[1]/60
    
    # Simplifies age to year-only
    func_df.Age = func_df.Age.str[:2].astype(float)
        
    # This section is to convert the prepared columns to their correct dtype if that hasn't already been done.
    num_cols = ['G', 'GS', 'FG', 'FGA', '3P', '3PA', 'FT', 'FTA', 'ORB', 'DRB', 'TRB', 
            'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'plus_minus', 'margin_of_victory','FG%', '3P%', 'FT%', 'GmSc']

    for col in num_cols:                                # Converts datatype of all numerical, non-DateTime columns
        func_df[col] = func_df[col].astype(dtype=float)
    func_df.MP = pd.to_timedelta('00:' + func_df.MP)
    func_df.Date = pd.to_datetime(func_df.Date)

    return func_df

In [171]:
#TEST CODE IGNORE
#This is to determine whether my plan to call player game logs will work 
cavs_keys = ["garlada01", "mitchdo01", 'allenja01','mobleev01','mobleis01']  # Test key set
call_str = f'https://www.basketball-reference.com/players/g/{cavs_keys[0]}/gamelog/2023' # String used in pd.read_html()

player_dict = {  # This dict contains pairs of the format key(str) : name(str) to allow keys to be mapped to names below
    'garlada01' : 'Garland',
    'mitchdo01' : 'Mitchell',
    'allenja01' : 'Jarrett Allen',
    'mobleev01' : 'Evan Mobley',
    'mobleis01' : 'Isaiah Mobley',
}
gamelog_dfs = {}
for key in cavs_keys:
    for df in pd.read_html(f'https://www.basketball-reference.com/players/g/{key}/gamelog/2023'):
        if df.columns[0] == "Rk":
            gamelog_dfs[player_dict[key]] = df
#This code returns dfs corresponding to each player listed in the cavs_keys list. Their names are found in the player_dict.

In [172]:
#ALL CODE BELOW IS EXPLORATORY ANALYSIS AND NOT TO BE USED IN PRODUCTION
func_df = gamelog_dfs['Garland']
func_df.head()
#DATA CLEANING FUNCTION REQUIREMENTS
# Remove unnecessary Rk column
# Split Unnamed:7 into "win_bool" and "point_differential" columns. map "L" : 0 and "W" : 1.
# Convert Unnamed:5 to "home_bool" and mape "@" : 0 and "NaN" : 1.
# Rename "+/-" to "plus_minus"
# Remove rows reiterating the column name; ought to be 20th, 41st, and 62nd rows.
# Replace all positive entries in the plus_minus column, such that "+5" now reads '5'.
# Replace "Inactive" with null values
#

,Rk,G,Date,Age,Tm,Unnamed: 5,Opp,Unnamed: 7,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1,1,2022-10-19,22-266,CLE,@,TOR,L (-3),1,13:18,...,1,1,3,2,1,5,1,4,-1.1,-10
1,2,NaN,2022-10-22,22-269,CLE,@,CHI,W (+32),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
2,3,NaN,2022-10-23,22-270,CLE,NaN,WAS,W (+10),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
3,4,NaN,2022-10-26,22-273,CLE,NaN,ORL,W (+11),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive
4,5,NaN,2022-10-28,22-275,CLE,@,BOS,W (+9),Inactive,Inactive,...,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive,Inactive

In [158]:
# Split Unnamed:7 into "win_bool" and "margin_of_victory" columns. map "L" : 0 and "W" : 1.
# Rename "+/-" to "plus_minus"
"""
func_df = func_df.rename(columns={'+/-' : 'plus_minus', 'Unnamed: 5' : 'Home?', 'Unnamed: 7' : 'Win?'})
func_df = pd.concat([step_1, step_1['Win?'].str.split(' ', expand=True).rename(columns={0 : "win_bool", 1 : "margin_of_victory"})], axis=1)
func_df.head()
"""

'\nfunc_df = func_df.rename(columns={\'+/-\' : \'plus_minus\', \'Unnamed: 5\' : \'Home?\', \'Unnamed: 7\' : \'Win?\'})\nfunc_df = pd.concat([step_1, step_1[\'Win?\'].str.split(\' \', expand=True).rename(columns={0 : "win_bool", 1 : "margin_of_victory"})], axis=1)\nfunc_df.head()\n'

In [159]:
# Split Unnamed:7 into "win_bool" and "margin_of_victory" columns.
# Rename "+/-" to "plus_minus"

func_df = pd.concat(
    [func_df.rename(columns={'+/-' : 'plus_minus', 'Unnamed: 5' : 'home_bool'}).drop(labels='Unnamed: 7', axis=1), 
     func_df['Unnamed: 7'].str.split(' ', expand=True).rename(columns={0 : "win_bool", 1 : "margin_of_victory"})], axis=1
).replace(to_replace='Inactive', value=np.nan)



# Remove rows reiterating the column name; ought to be 20th, 41st, and 62nd rows.
# Convert L,W,@ to False, True, False
func_df = func_df[func_df.Rk != 'Rk'].replace(to_replace=['L','W','@'], value=[False, True, False])

# Replaces NaN values in the home_bool column with True values, indicating that the row represents a home game.
func_df.home_bool = func_df.home_bool.replace(to_replace=np.nan, value=True)
func_df.margin_of_victory = func_df.margin_of_victory.str.translate({ord(i): None for i in '()+'})
func_df.plus_minus = func_df.plus_minus.str.translate({ord(i): None for i in '+'})
func_df.set_index('Rk')
func_df.Date = pd.to_datetime(func_df.Date)

# Adds a float-variant of the column 'MP'. This allows for easier operations than the actual 'MP' column, which is timedelta64
func_df['MP_floats'] = \
func_df.MP.str.split(':', expand=True).astype(float)[0] + func_df.MP.str.split(':', expand=True).astype(float)[1]/60
func_df.Age = func_df.Age.str[:2].astype(float)
func_df.set_index('Rk')

,G,Date,Age,Tm,home_bool,Opp,GS,MP,FG,FGA,...,STL,BLK,TOV,PF,PTS,GmSc,plus_minus,win_bool,margin_of_victory,MP_floats
Rk,,,,,,,,,,,,,,,,,,,,,
1,1,2022-10-19,22.0,CLE,False,TOR,1,13:18,2,8,...,2,1,5,1,4,-1.1,-10,False,-3,13.300000
2,NaN,2022-10-22,22.0,CLE,False,CHI,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,32,NaN
3,NaN,2022-10-23,22.0,CLE,True,WAS,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,10,NaN
4,NaN,2022-10-26,22.0,CLE,True,ORL,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,11,NaN
5,NaN,2022-10-28,22.0,CLE,False,BOS,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,9,NaN
6,NaN,2022-10-30,22.0,CLE,True,NYK,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,13,NaN
7,2,2022-11-02,22.0,CLE,True,BOS,1,42:21,9,20,...,3,0,1,3,29,28.9,10,True,1,42.350000
8,NaN,2022-11-04,22.0,CLE,False,DET,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,24,NaN
9,3,2022-11-06,22.0,CLE,False,LAL,1,38:57,7,18,...,0,0,5,4,24,14.1,6,True,14,38.950000
10,4,2022-11-07,22.0,CLE,False,LAC,1,37:47,8,17,...,1,0,5,1,19,14.2,-2,False,-2,37.783333
11,5,2022-11-09,22.0,CLE,False,SAC,1,33:34,1,9,...,0,0,4,3,6,0.1,-6,False,-7,33.566667
12,6,2022-11-11,22.0,CLE,False,GSW,1,35:59,5,19,...,2,0,0,3,15,11.4,-3,False,-5,35.983333
13,7,2022-11-13,22.0,CLE,True,MIN,1,40:01,16,31,...,2,0,2,3,51,38.1,6,False,-5,40.016667
14,8,2022-11-16,22.0,CLE,False,MIL,1,34:47,8,20,...,1,1,1,1,23,18.9,-1,False,-15,34.783333
15,9,2022-11-18,22.0,CLE,True,CHO,1,48:13,16,26,...,5,1,8,5,41,28.6,23,True,10,48.216667
16,10,2022-11-20,22.0,CLE,True,MIA,1,27:53,7,12,...,0,0,5,2,25,19.1,12,True,26,27.883333
17,11,2022-11-21,22.0,CLE,True,ATL,1,38:06,9,14,...,1,0,8,1,26,18.7,8,True,12,38.100000
18,12,2022-11-23,22.0,CLE,True,POR,1,35:35,9,19,...,0,0,2,1,24,20.3,26,True,18,35.583333
19,13,2022-11-25,22.0,CLE,False,MIL,1,38:06,7,18,...,0,0,2,3,20,10.3,-26,False,-15,38.100000
20,14,2022-11-27,22.0,CLE,False,DET,1,40:12,4,19,...,0,0,2,1,19,12.4,1,True,8,40.200000
21,15,2022-11-28,22.0,CLE,False,TOR,1,33:07,7,11,...,3,1,2,3,18,22.2,-8,False,-12,33.116667
22,16,2022-11-30,22.0,CLE,True,PHI,1,32:02,9,16,...,0,0,2,1,21,17.9,24,True,28,32.033333
23,17,2022-12-02,22.0,CLE,True,ORL,1,36:44,6,15,...,1,0,1,0,18,14.4,-5,True,11,36.733333
24,18,2022-12-04,22.0,CLE,False,NYK,1,38:53,5,19,...,1,0,4,0,17,5.0,-17,False,-11,38.883333
25,19,2022-12-06,22.0,CLE,True,LAL,1,37:52,8,18,...,1,0,1,2,21,19.8,22,True,14,37.866667
26,20,2022-12-09,22.0,CLE,True,SAC,1,34:59,7,17,...,2,0,6,2,18,8.9,-13,False,-11,34.983333
27,21,2022-12-10,22.0,CLE,True,OKC,1,33:59,3,9,...,2,0,6,1,13,10.0,9,True,8,33.983333
28,22,2022-12-12,22.0,CLE,False,SAS,1,39:12,7,22,...,1,0,4,2,18,10.8,10,False,-1,39.200000
29,23,2022-12-14,22.0,CLE,False,DAL,1,34:22,4,11,...,2,0,0,2,12,11.9,5,True,15,34.366667
30,24,2022-12-16,22.0,CLE,True,IND,1,35:30,5,11,...,2,0,3,2,20,22.1,11,True,6,35.500000
31,25,2022-12-17,22.0,CLE,True,DAL,1,43:50,8,18,...,4,1,0,3,18,22.2,14,True,1,43.833333
32,26,2022-12-19,22.0,CLE,True,UTA,1,30:06,7,11,...,0,0,6,2,17,11.2,25,True,23,30.100000
33,27,2022-12-21,22.0,CLE,True,MIL,1,36:52,9,19,...,1,0,4,4,23,11.3,4,True,8,36.866667
34,28,2022-12-23,22.0,CLE,True,TOR,1,30:32,6,13,...,1,0,5,3,17,11.0,-12,False,-11,30.533333
35,29,2022-12-26,22.0,CLE,True,BRK,1,39:42,14,20,...,1,0,1,1,46,43.3,6,False,-8,39.700000
36,30,2022-12-29,22.0,CLE,False,IND,1,35:19,8,11,...,0,0,1,1,18,17.6,-12,False,-9,35.316667
37,NaN,2022-12-31,22.0,CLE,False,CHI,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,1,NaN
38,NaN,2023-01-02,22.0,CLE,True,CHI,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,11,NaN
39,NaN,2023-01-04,22.0,CLE,True,PHO,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,2,NaN
40,31,2023-01-06,22.0,CLE,False,DEN,1,33:03,8,20,...,0,0,1,3,21,14.4,-15,False,-13,33.050000
41,32,2023-01-08,22.0,CLE,False,PHO,1,34:33,8,17,...,2,0,2,1,22,18.0,22,True,14,34.550000
42,33,2023-01-10,22.0,CLE,False,UTA,1,38:23,8,18,...,0,0,4,3,21,12.1,5,False,-2,38.383333
43,34,2023-01-12,22.0,CLE,False,POR,1,33:11,5,12,...,0,0,4,4,20,14.8,7,True,6,33.183333
44,35,2023-01-14,22.0,CLE,False,MIN,1,34:38,6,11,...,0,0,4,2,15,8.6,-4,False,-8,34.633333
45,36,2023-01-16,22.0,CLE,True,NOP,1,40:26,9,22,...,1,0,2,2,30,26.7,16,True,10,40.433333
46,37,2023-01-18,22.0,CLE,False,MEM,1,38:43,7,17,...,2,0,2,3,24,24.6,10,False,-1,38.716667
47,38,2023-01-20,22.0,CLE,True,GSW,1,40:07,10,25,...,2,0,4,0,31,22.4,0,False,-6,40.116667
48,39,2023-01-21,22.0,CLE,True,MIL,1,35:32,9,16,...,2,0,1,2,21,21.9,19,True,12,35.533333
49,40,2023-01-24,22.0,CLE,False,NYK,1,34:48,6,17,...,2,0,1,0,22,18.5,20,False,-2,34.800000
50,41,2023-01-26,23.0,CLE,False,HOU,1,32:53,9,16,...,3,0,1,1,26,28.3,17,True,18,32.883333
51,42,2023-01-27,23.0,CLE,False,OKC,1,37:18,10,23,...,4,0,2,2,31,29.0,-10,False,-12,37.300000
52,43,2023-01-29,23.0,CLE,True,LAC,1,22:37,5,7,...,0,0,1,0,16,19.7,27,True,23,22.616667
53,44,2023-01-31,23.0,CLE,True,MIA,1,30:50,7,13,...,1,0,3,5,16,9.5,6,False,-3,30.833333
54,45,2023-02-02,23.0,CLE,True,MEM,1,33:06,11,19,...,0,0,4,2,32,26.6,15,True,15,33.100000
55,46,2023-02-05,23.0,CLE,False,IND,1,34:57,8,13,...,0,0,1,3,24,21.4,25,True,19,34.950000
56,47,2023-02-06,23.0,CLE,False,WAS,1,28:22,9,15,...,3,0,3,1,23,19.0,18,True,23,28.366667
57,NaN,2023-02-08,23.0,CLE,True,DET,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,28,NaN

In [160]:
num_cols = ['G', 'GS', 'FG', 'FGA', '3P', '3PA', 'FT', 'FTA', 'ORB', 'DRB', 'TRB', 
            'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'plus_minus', 'margin_of_victory','FG%', '3P%', 'FT%', 'GmSc']
str_cols = ['Tm', 'Opp']
# Datetime already set
# Bools already set


for col in num_cols:  # Converts datatype of all numerical, non-DT columns
    func_df[col] = func_df[col].astype(dtype=float)
func_df.MP = pd.to_timedelta('00:' + func_df.MP)

In [162]:
func_df.dtypes

Rk                            object
G                            float64
Date                  datetime64[ns]
Age                          float64
Tm                            object
home_bool                       bool
Opp                           object
GS                           float64
MP                   timedelta64[ns]
FG                           float64
FGA                          float64
FG%                          float64
3P                           float64
3PA                          float64
3P%                          float64
FT                           float64
FTA                          float64
FT%                          float64
ORB                          float64
DRB                          float64
TRB                          float64
AST                          float64
STL                          float64
BLK                          float64
TOV                          float64
PF                           float64
PTS                          float64
GmSc                         float64
plus_minus                   float64
win_bool                        bool
margin_of_victory            float64
MP_floats                    float64
dtype: object

In [173]:
play_df = standardize_game_log(gamelog_dfs['Garland'])
play_df.describe()

,G,Age,GS,MP,FG,FGA,FG%,3P,3PA,3P%,...,AST,STL,BLK,TOV,PF,PTS,GmSc,plus_minus,margin_of_victory,MP_floats
count,49.00000,59.000000,49.0,49,49.000000,49.000000,49.000000,49.000000,49.000000,49.000000,...,49.000000,49.000000,49.000000,49.000000,49.000000,49.000000,49.000000,49.000000,59.000000,49.000000
mean,25.00000,22.169492,1.0,0 days 00:35:07.918367346,7.469388,16.163265,0.468367,2.591837,6.183673,0.408245,...,8.020408,1.244898,0.102041,2.938776,2.081633,21.755102,17.332653,6.142857,5.779661,35.131973
std,14.28869,0.378406,0.0,0 days 00:05:37.610342254,2.916205,5.063542,0.134831,1.790232,2.751314,0.187210,...,2.749923,1.267060,0.305839,2.014615,1.288357,8.511097,8.585486,13.012814,12.324727,5.626839
min,1.00000,22.000000,1.0,0 days 00:13:18,1.000000,6.000000,0.111000,0.000000,1.000000,0.000000,...,2.000000,0.000000,0.000000,0.000000,0.000000,4.000000,-1.100000,-26.000000,-15.000000,13.300000
25%,13.00000,22.000000,1.0,0 days 00:33:07,6.000000,12.000000,0.400000,1.000000,4.000000,0.273000,...,6.000000,0.000000,0.000000,1.000000,1.000000,18.000000,11.200000,-3.000000,-4.000000,33.116667
50%,25.00000,22.000000,1.0,0 days 00:35:30,7.000000,17.000000,0.450000,2.000000,6.000000,0.400000,...,8.000000,1.000000,0.000000,2.000000,2.000000,21.000000,17.900000,6.000000,8.000000,35.500000
75%,37.00000,22.000000,1.0,0 days 00:38:23,9.000000,19.000000,0.563000,3.000000,8.000000,0.556000,...,10.000000,2.000000,0.000000,4.000000,3.000000,24.000000,22.100000,16.000000,14.000000,38.383333
max,49.00000,23.000000,1.0,0 days 00:48:13,16.000000,31.000000,0.727000,10.000000,15.000000,0.750000,...,14.000000,5.000000,1.000000,8.000000,5.000000,51.000000,43.300000,27.000000,32.000000,48.216667